name: Setup SmartLanche Project Structure

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      actions: write
      pull-requests: write
